<!DOCTYPE html>
<html>
<head>
    <title>Serverless Podcatcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="kneepodder.css" />
</head>
<body>
    <div id="app">
        <div v-if="podcastFeedsList.length | podcastErrorsList.length">
            <div v-for="(podcast, index) in podcastFeedsList"
                        v-bind:index="index"
                        v-bind:key="podcast.id">
                        <podcast v-bind:channel="podcast"></podcast>
            </div>
        </div>
        <div class="nothing-yet" v-else>
            <p>Cool loading screen...</p>
        </div>
        <div class="regular-issue-panel">
            <div class="regular-issue-panel-spacer">
            </div>
            <div v-if="podcastErrorsList.length">
                <div v-for="(problem, index) in podcastErrorsList"
                    v-bind:index="index"
                    v-bind:key="problem.id">
                        <problem v-bind:issue="problem"></problem>
                </div>
            </div>
        </div>
        <div class="add-feed-panel">
          <div class="add-feed-form-spacer"></div>
          <add-podcast-feed-url></add-podcast-feed-url>
        </div>
    </div>
    <script type="text/javascript" src="./vue.js"></script>
    <script type="text/javascript" src="./podcatcher.js"></script>
    <script type="text/javascript" src="./parse-xml.min.js"></script>
    <script type="text/javascript" src="./axios.min.js"></script>
    <script type="text/javascript" src="./download.min.js"></script>
    <script type="text/javascript" src="./kneepodder.js"></script>
</body>
</html>
